* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.home-bg {
    background-image: url('https://th.bing.com/th/id/OIG.HXB4hesW5.X1.zi.yLi_?pid=ImgGn');
}

.text-zoom-on-hover {
    transition: transform 0.3s ease;
}

.text-zoom-on-hover:hover {
    transform: scale(1.08);
    font-size: 20px;
}