<main>
  
  <h1 class="text-center my-5">TechBoutique</h1>
 {{#if details}}
    <p>{{details}}</p>
  {{else}}
    <div class="d-flex align-items-center justify-content-center  ">
      <p class="text-center font-weight-bold text-zoom-on-hover transition"><strong>¡Bienvenido a TechBoutique, tu destino exclusivo para la última tecnología con estilo! En nuestra boutique digital, encontrarás una cuidada selección de notebooks elegantes, mouse innovadores, escritorios modernos y accesorios únicos para potenciar tu espacio de trabajo. Explora nuestra colección donde la tecnología y el diseño se encuentran, creando un equilibrio perfecto entre funcionalidad y estilo. ¡Haz de tu experiencia de compra algo extraordinario en TechBoutique!</strong></p>
    </div>
     
   {{/if}}
     
    
</main>