<main class="flex-grow-1 p-8 m-auto my-2 d-flex justify-content-center align-items-center" style="background-color: #f0f0f0; height: 100vh;">
  <section class="w-50">
    <div style="max-width: 400px; margin: auto;">
      <h2 class="text-center mb-4">CREATE A NEW PRODUCT!</h2>
      <form>
        <div class="mb-3">
          <label for="title" class="form-label text-center">Title</label>
          <input type="text" class="form-control" id="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="photo" class="form-label text-center">Photo</label>
          <input type="text" class="form-control" id="photo">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label text-center">Price</label>
          <input type="number" class="form-control" id="price">
        </div>
        <div class="mb-3">
          <label for="stock" class="form-label text-center">Stock</label>
          <input type="number" class="form-control" id="stock">
        </div>
        <button id="newProduct" type="button" class="w-100 btn btn-danger">CREATE!</button>
      </form>
    </div>
  </section>
</main>
