<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Product</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .form-container {
            width: 320px;
            padding: 20px;
            background-color: #f0f0f0;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
        .form-container h2 {
            text-align: center;
        }
        
        .form-container label {
            display: block;
            margin-bottom: 5px;
        }
        
        .form-container input {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        
        .form-container button {
            width: 100%;
            padding: 10px;
            background-color: #dc3545;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .form-container button:hover {
            background-color: #c82333;
        }
    </style>
</head>
<body>
    <div class="container">
        <main class="form-container">
            <h2>Create a New Product</h2>
            <form>
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-control" id="title">
                </div>
                <div class="mb-3">
                    <label for="photo" class="form-label">Photo:</label>
                    <input type="text" class="form-control" id="photo">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <input type="number" class="form-control" id="price">
                </div>
                <div class="mb-3">
                    <label for="stock" class="form-label">Stock:</label>
                    <input type="number" class="form-control" id="stock">
                </div>
                <button id="newProduct" type="button" class="btn btn-danger">CREATE!</button>
            </form>
        </main>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/form.js"></script>
</body>
</html>
